@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@800&family=Roboto+Slab:wght@600&family=Shizuru&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:  rgb(199, 195, 187);
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;

}

.title{
    position: fixed;
    font-family: 'Roboto Slab', serif;
    padding: 1%;
    font-size: 200%;
    color: black;
    z-index: 99;
 
}

.welcom{
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50% , 50%);
    z-index: 100;
    font-size: 500%;
    border: 8px solid white;
    animation: trans 0.7s ease;
    transition:0.5s ease;
}

.img1{
    position: relative;
    left: 50%;
    transform: translate(-50% , 0%);
    height: 50%;
    width: 50%;
    animation: translat 0.7s ease;
}

.welcom:hover{
    color: rgb(231, 231, 231);
    border-color:rgb(48, 48, 48) ;
}

@keyframes trans {
    0%{
        transform: translate(-40%);
    }
}
@keyframes translat {
    0%{
        transform: translate(-70%);
    }
}

.img2{
    position: relative;
    top: -55px;
}

.back-link{
    background-color: transparent;
    border: 4px solid black;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    position:fixed ;
    top: 40%;
    transform: translate(-0%, 0%);
    transition:0.4s ease;
    
}
.link a i{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: x-large;
    color: black;
    transition:0.3s ease;
}

.link a i:hover{
    color: rgb(255, 255, 255);
}
.back-link:hover{
    border:4px solid white;

}

/***********page information*****/
.page-information{
    display: flex;
    
}

.img3{
    width: 40%;
    border-radius: 20px;
    margin-left: -2%;
}
.information{
   transform:translate(10%, 30%) ;
}
.information h1{
    font-family: 'Roboto Slab', serif;
    font-size: 300%;
}
.information h1 ,p :hover{
    color: rgb(3, 145, 189);
}
.information p{
    font-family: 'Roboto Slab', serif;
    margin-right: 2%;
    font-size: 100%;
}
.mini-line{
     width: 115vh;
     margin-left: -1%;
     border-radius: 8px;
     border: 4px solid black;
}
/***********final barr**********/
.final-barr{
    background-color:#032b46;
    border-radius: 10px;
    margin-top: 7%;
    margin-left: -2%;
    width: 90%;
    height: 30%;
   
}

.title-2{
    font-family: 'Roboto Slab', serif;
    margin-left: 5%;
    color: #0084e2;
    font-size: 50px;
    transition:0.4s ease;

}
.title-2 span{
    color: black;
     transition:0.3s ease;
}
.title-2:hover{
    color: black;
}
.title-2 span:hover{
    color: #0084e2;
}

.info{
    display:flex;
    margin-left: 25%;
    position: relative;
    left: 30%;
}
.project{
    color: black;
    transition: 0.3s ease;
}
.project:hover{
    color: #80b7df;
}
.email{
    color:#ffffff;
}

.final-barr a{
    
    font-family: 'Roboto Slab', serif;
    color: #0099ff;
      display: block;

}
.info1{
   
    margin-left: 25%;
    position: relative;
    left: 30%;
}

.info1  span{
    color: white;
}



/**********media query***********/

@media (max-width:950px) {
 body{
     width: ;
     height:100vh;
 }

    .title{
        position: fixed;
        font-family: 'Roboto Slab', serif;
        padding: 1%;
        font-size: 160%;
        color: black;
        z-index: 99;
    }

   .welcom {
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50% , 50%);
    z-index: 100;
    border: 5px solid white;
    font-size: 180%;
   } 

    .img3{
       width: 40%;
    }
    .information h1{
        position: relative;
        margin-top: -90%;
        margin-left: -20%;
        font-size: 37px;
    }

    .information p {
        font-family: 'Roboto Slab', serif;
        font-size: 60%;
        left: -8%;
        position: absolute;
        top: -37%;
    }
    .final-barr{
        height:20%;
        width:100% ;
    }
    .title-2{
        font-size: 160%;
    }
   
    .all-info{
       margin-left: -90%;
        
    }
    .back-link{
       position: relative;
       top: -5%; 
       height: max-content; 
    }
    .mini-line{
        width:55%; 
    }


}